[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
stt = "==1.4.0"
pyaudio = "*"
webrtcvad = "*"
halo = "*"
scipy = "*"
pyautogui = "*"
coqui-stt-model-manager = "*"
websockets = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
